<% form_for([@user,@article], :html => { :multipart => true }) do |a| %>
	<div>
		<br/><br/>
		<%= a.label :title %><br/>
		<%= a.text_field :title %><br/>
		<br/><br/>
	</div>
	<div>
		<br/><br/>
		<%= a.label :description %><br />
<%= a.cktext_area "description", :height => 200,:width => 950, :toolbar=>'Full' , :swf_params => { :assetable_type => 'AdminUser', :assetable_id => 1 } %>
		<br/><br/>
	</div>
<div>
   		 <%= a.label :Image %><br />
    		 <%= a.file_field :picture %>
<br/><br/>

  </div>
<br/><br/>
<div>
	<%= a.label :document %><br/>
	<%= a.file_field :document %>
</div>
	<div>
		<%= a.submit "Enter Record" %>
	</div>

<% end %>
